.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.fieldContainer {
  display: flex;
  gap: 20px;
  align-items: center;
}

.checkboxContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
