.imagePlaceholder {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  border: 2px dashed grey;
  cursor: pointer;
}

.imagePlaceholder:hover {
  opacity: 0.6;
}

.label {
  height: 100%;
  cursor: inherit;
  display: flex;
  align-items: center;
}

.imageContent {
  width: 100%;
  height: 100%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}