.actionButtons {
  display: flex;
  gap: 10px;
}

.removeButton, .addButton {
  height: 25px;
  width: 25px;
  color: white;
}

:global(.MuiIconButton-root).addButton {
  background-color: #319B43;
  color: white;
}

:global(.MuiIconButton-root).addButton:hover {
  background-color: #319B43;
  opacity: 0.6
}

:global(.MuiIconButton-root).removeButton:hover {
  background-color: red;
  opacity: 0.6
}

:global(.MuiIconButton-root).removeButton {
  background-color: red;
  color: white;
}

:global(.MuiIconButton-root).addButton:disabled, :global(.MuiIconButton-root).removeButton:disabled {
  background-color: grey;
}
